---
import siteConfig from '../data/site-config';
---

<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<!-- <header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
            </a>
        ) : (
            <a class="font-serif text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl" href="/">
                {siteConfig.title}
            </a>
        )
    }
    <p class="text-sm leading-tight mt-1"><span id="typewrite"></span></p>
</header> -->
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var options = {
            strings: ['"To improve is to change; to be perfect is to change often." ~ Winston Churchill'],
            typeSpeed: 75
        };

        var typed = new Typed('#typewrite', options);
    });
</script>
